  <div ng-app="education" ng-controller="educationController">
                           
                       <table style="width:100%">
										<tbody >
                                            <tr ng-repeat="ty in education.thirdYear">
                                                <td>{{ty.subject}}<span>{{ty.grade}}</span></td>
                                            </tr>
										</tbody>
                                    </table>
                       
                       </div>     
					   
					   
					   
      <div ng-app="education" ng-controller="educationController">
                           
                       <table style="width:100%">
										<tbody >
                                            <tr ng-repeat="ty in education.thirdYear">
                                                <td>{{ty.subject}}<span>{{ty.grade}}</span></td>
                                            </tr>
										</tbody>
                                    </table>
                       
                       </div>					   
					   