<!DOCTYPE html>
<html>
	<head>
           <title>Aaron Fogarty CV</title>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="css/bootstrap.min.css"/>
            <link rel="stylesheet" href="css/style.css" />
    
	</head>
    <body>

        <!-- NAV BAR -->	

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbarcollapse"> <!--role ="navigation" was added-->
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" id="dropdown" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                  </button>
                  <a class="navbar-brand" href="#group1">home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="myNavbar">

                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">About</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#results_tab">Results</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
        </nav>
        
    <!--JUMBOTRON PARALLAX-->
        
    <div class="fluid_container">
        <div class="parallax">
            <div id="group1" class="parallax__group" style="height:100;">
                 <div class="parallax__layer parallax__layer--back">
                  <img class="codepen_image" src="images/CVLogo.png">
                 </div>
            </div><!-- end of group1-->    
        <div class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                    <div class="jumbotron" style="text-align:center; color:rgb(18,20,21);">  

                                        <h3>
                                  <!-- Trigger the Modal -->
                                            <img id="myImgAaron" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/054/201/194d3a1.jpg" class="img-circle img-responsive" style="margin:0 auto;" alt="" width="200" height="100">

                                  <!-- The Modal -->
                                            <div id="myModalimage" class="modal">

                                  <!-- The Close Button -->
                                              <span class="close" onclick="document.getElementById('myModalimage').style.display='none'">&times;</span>

                                  <!-- Modal Content (The Image) -->
                                              <img class="modal-content" id="img01Aaron">

                                  <!-- Modal Caption (Image Text) -->
                                              <div id=""></div>
                                            </div>

                                         </h3> 
                                         <h1 style="color: #222222;">Software Developer</h1>
                    </div><!--end of jumbotron -->

                <!--CAROUSEL-->
                    <!-- Carousel -->
                            <div id="about" class="carousel slide" data-interval="false">
                            <!-- Indicators -->
                              <ol class="carousel-indicators">
                                <li data-target="#about" data-slide-to="0" class="active"></li>
                                <li data-target="#about" data-slide-to="1"></li>
                                <li data-target="#about" data-slide-to="2"></li>
                              </ol>

                              <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
          <!-- SLIDE ONE START --> <div class="item active">
                                        <div id="slideone" class="slide_1">
                                                 <div class="row">
                                                      <div class="col-sm-6 "> 
                               <!-- ABOUT ME*/ -->      <h2>ABOUT ME</h2>
                                                        <p></p>
                                                      </div>
                        <!-- Social media Links*/ --><div class="col-sm-4 col-xs-12">        


                                                    <ul class="list-inline">

                                                        <li><a href="resource/AaronFogartyCV.pdf" class="icoCV" title="CV" target="_blank">
                                                        <i class="fa fa-file-pdf-o" ></i></a></li>    

                                                        <li><a href="https://github.com/AFog" class="icoFacebook" title="GitHub" target="_blank">
                                                        <i class="fa fa-github" ></i></a></li>

                                                        <li><a href="https://ie.linkedin.com/in/aaronfogarty" class="icoLinkedin" title="Linkedin" target="_blank">
                                                        <i class="fa fa-linkedin"></i></a></li>

                                                        <li><a href="https://twitter.com/AaronFogarty21" class="icoTwitter" title="Twitter" target="_blank">
                                                        <i class="fa fa-twitter"></i></a></li>
                                                    </ul>


                                                    </div>
                        <!---CONTACT MODAL BUTTON ---->
                                                    <div class="col-sm-2 col-xs-12">
                                                        <!-- Button to trigger modal --> 
                                                        <a href="#myModal" role="button" class="btn btn-custom" data-toggle="modal">Contact Me</a>
                                                        <!-- Modal -->
                                                    </div>
                         <!---CONTACT MODAL BUTTON END ---->    

                                                  </div><!-- end of row*/ -->

                                                  <div class="row"> 
                                                    <div class="col-md-6 col-sm-6 aboutmetext">

                                                      <p>I currently a 4th year computing student at the Institute of Technology, Tallaght. I am studying to receive my honours degree in Computing. I will Graduate in May 2017. The experience I have gain so far through my study's has strengthened my enthusiasm and abilities software development.</p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 aboutmetext">

                                                      <p>I have developed numerous programs at home, college and during my Internship using a variety of programming languages, in particular Java. I also have customer-facing experience and valuable team-working experience gained in commercial and college settings. </p>
                                                    </div>
                                                  </div><!--end of row-->
                                                </div><!--end of slideone-->
                    <!-- SLIDE ONE END -->   </div>
            
                                
        <!-- SLIDE TWO START---><div class="item">
                                  <div class="item active">
                                        <div id="slideone" class="slide_1">
                                                 <div class="row">
                                                      <div class="col-sm-6 "> 
                               <!-- ABOUT ME*/ -->      <h2>EXPERIENCE</h2>
                                                        <p></p>
                                                      </div>

                                                  </div><!-- end of row*/ -->

                                                  <div class="row"> 
                                                    <div class="col-md-6 col-sm-6 aboutmetext">

                                                      <p>I am a 4th year computing student at IT Tallaght.usto sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.   </p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 aboutmetext">

                                                      <p>I am a 4th year computing student at IT Tallaght.usto sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. </p>
                                                    </div>
                                                  </div><!--end of row-->
                                                </div><!--end of slideone-->
                                        </div>
                                
        <!-- SLIDE TWO END-----></div>

        <!-- SLIDE THREE START---><div class="item">
                                  <div id="slidethree" class="slide_1">
                                     <div class="row">
                                          <div class="col-sm-6 "> 
                   <!-- EDUCATION*/ -->      <h2>EDUCATION</h2>
                                            <p></p>
                                          </div>
            <!-- work experience logo*/ --><div class="col-sm-6 "> 
                                             <h2>SKILLS</h2>
                                            </div>
                                      </div><!-- end of row*/ -->

                                      <div class="row"> 
                                        <div class="col-md-6 col-sm-6 aboutmetext">

                                          <p>I curently a 4th year computing student at IT Tallaght.usto sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.   </p>
                                        </div>
                                        <div class="col-md-6 col-sm-6 aboutmetext">

                                         <div class="container col-md-12 col-sm-6 ">

                                              <table class="table col-md-6 col-sm-6 ">
                                                <thead>
                                                  <tr>
                                                    <td><img src="images/java.png" alt="4th year project" class="img-responsive imgtable"></td>
                                                    <td><img src="images/cplusplus.png" alt="4th year project" class="img-responsive imgtable"></td>
                                                    <td><img src="images/csharp.png" alt="4th year project" class="img-responsive imgtable"></td>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td><img src="images/sql.png" alt="4th year project" class="img-responsive imgtable"></td>
                                                    <td><img src="images/linux.png" alt="4th year project" class="img-responsive imgtable"></td>
                                                    <td><img src="images/git.png" alt="4th year project" class="img-responsive imgtable"></td>
                                                  </tr>
                                                  <tr>
                                                    <td><img src="images/asp.png" alt="4th year project" class="img-responsive imgtable"></td>
                                                    <td><img src="images/css.png" alt="4th year project" class="img-responsive imgtable"></td>
                                                    <td><img src="images/javaScript.png" alt="4th year project" class="img-responsive imgtable"></td>
                                                  </tr>
                                                  
                                                </tbody>
                                              </table>
                                            </div>
                                        </div>
                                          
                                          
                                      </div><!--end of row-->
                        </div>
           <!-- SLIDE THREE END---></div>
                              </div>
                            <!-- Left and right controls -->
                              <a class="left carousel-control" href="#about" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

                              </a>

                              <a class="right carousel-control" href="#about" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>

                            </div>  
                <!--END OF CAROUSEL-->
                
                <!--PROJECTS START-->
                              <div id="projects" class="container contacttext">
                                 <h3>PROJECTS</h3>
                                  <br><!-- break for a little spacing-->
                                   <div class="row">
                                    <div class="col-sm-4">
                                      <h1>4th Year</h1>
                                      <div class="row">
                                              <div class="col-sm-12 col-md-12">
                                                <div class="thumbnail ">
                                                  <img src="images/GSmain.jpg" alt="4th year project" class="img-responsive">
                                                  <div class="caption">
                                                    <h3>HUH</h3>
                                                    <p>Huh is an Android Translation and Chat Application. Huh allow users of multiple languages communicate with ease. The User simply chooses their native language theh recieves all messgaes in that language no matter whta language it was sent in.</p>
                                                    <p><a href="#" class="btn btn-primary" role="button">Gallery</a> 
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                     </div>
                                     <div class="col-sm-4">
                                       <h1>3rd Year</h1>
                                      <div class="row">
                                              <div class="col-sm-12 col-md-12">
                                                <div class="thumbnail">
                                                  <img src="images/GSmain.jpg" alt="4th year project" class="img-responsive">
                                                  <div class="caption">
                                                    <h3>HUH</h3>
                                                    <p>asdasdasvasdfvasdsdfasdfasdf</p>
                                                    <p><a href="#" class="btn btn-primary" role="button">Gallery</a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                    </div>
                                     <div class="col-sm-4">
                                       <h1>2nd Year</h1>
                                      <div class="row">
                                              <div class="col-sm-12 col-md-12">
                                                <div class="thumbnail">
                                                  <img src="images/GSmain.jpg" alt="4th year project class="img-responsive">
                                                  <div class="caption">
                                                    <h3>HUH</h3>
                                                    <p>asdasdasvasdfvasdsdfasdfasdf</p>
                                                    <p><a href="#" class="btn btn-primary" role="button">Gallery</a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                    </div>
                                  </div><!-- end of row-->
                                  <br><!-- break for a little spacing-->
                                  
                                </div><!--end of container-->
                <!--PROJECTS END-->

                <!--RESULTS START-->
                              <div id="results_tab" class="container resultstext" style="z-index:150;">

                                  <br><!-- break for a little spacing-->
                               
                                  <br><!-- break for a little spacing-->
                                 
                                      <h3>RESULTS</h3>
                                  

                            <!--ACCORDION START-->  
                                <div id="results" class="tab-pane " ng-app="results" ng-controller="resultsController">
                                
                                    <div id="result_accordion">

                                        <h3 id="default_result_header"> Third Year</h3>
                                        <div>
                                            <h4 class="accordion-sub">GPA: {{result.thirdYear.gpa}} / 4.00</h4>
                                            <div class="skill_table table-responsive">
                                                <table style="width:100%">
                                                    <tbody>
                                                        <tr ng-repeat="subject in result.thirdYear.resultList ">
                                                            <td>{{subject.subjectName}} : <span>{{subject.grade}} </span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <h3 id="accordion_header"> Second Year</h3>
                                        <div>
                                            <h4 class="accordion-sub">GPA: {{result.secondYear.gpa}} / 4.00</h4>
                                            <div class="skill_table table-responsive">
                                                <table style="width:100%">
                                                    <tbody>
                                                        <tr ng-repeat="subject in result.secondYear.resultList "
                                                            ng-switch on="$index % 2">
                                                            <td ng-switch-when="0">
                                                                {{result.secondYear.resultList[$index].subjectName}} : <span>{{result.secondYear.resultList[$index].grade}}</span>
                                                            </td>
                                                            <td ng-switch-when="0">
                                                                {{result.secondYear.resultList[$index+1].subjectName}} : <span>{{result.secondYear.resultList[$index+1].grade}}</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <h3 id="accordion_header"> First Year</h3>
                                        <div>
                                            <h4 class="accordion-sub">GPA: {{result.firstYear.gpa}} / 4.00</h4>

                                            <div class="skill_table table-responsive">
                                                <table style="width:100%">
                                                    <tbody>
                                                        <tr ng-repeat="subject in result.firstYear.resultList"
                                                            ng-switch on="$index % 2">
                                                            <td ng-switch-when="0">
                                                                {{result.firstYear.resultList[$index].subjectName}} : <span>{{result.firstYear.resultList[$index].grade}}</span>
                                                            </td>
                                                            <td ng-switch-when="0">
                                                                {{result.firstYear.resultList[$index+1].subjectName}} : <span>{{result.firstYear.resultList[$index+1].grade}}</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                             <!--ACCORDION END-->


                </div><!--end of container-->
                <!--RESULTS END--> 
                
                
                
                
                
                
                
                 <!--CONTACT START-->
                              <div id="contact" class="container contacttext">

                                  <br><!-- break for a little spacing-->
                               
                                  <br><!-- break for a little spacing-->
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <h3>CONTACT</h3>
                                      <p> </p>
                                    </div>
                                  </div><!--end of row-->
                                </div><!--end of container--> 
                

                    <div class="container padding contacttext " id="contact">
                          <div class="row">
                              <div class="col-md-6">
                            <form role="form">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com"/>
                                </div>
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Your name here"/>

                                </div>
                                <div class="form-group">
                                    <label for="message">Message:</label>
                                    <textarea class="form-control" name="message" id="message" placeholder="Your message here"></textarea>
                                </div>

                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                                   <!-- Social media Links*/ --><div class="col-sm-6 col-xs-12 medialinksbottom">        

                                                    <ul class="list-inline">

                                                        <li><a href="resource/AaronFogartyCV.pdf" class="icoCV" title="CV" target="_blank">
                                                        <i class="fa fa-file-pdf-o" ></i></a></li>    

                                                        <li><a href="https://github.com/AFog" class="icoFacebook" title="GitHub" target="_blank">
                                                        <i class="fa fa-github" ></i></a></li>

                                                        <li><a href="https://ie.linkedin.com/in/aaronfogarty" class="icoLinkedin" title="Linkedin" target="_blank">
                                                        <i class="fa fa-linkedin"></i></a></li>

                                                        <li><a href="https://twitter.com/AaronFogarty21" class="icoTwitter" title="Twitter" target="_blank">
                                                        <i class="fa fa-twitter"></i></a></li>
                                                    </ul>


                                          </div>
                                  </div>
                              
                              
                                                     
                       <!---MAP START--------->

                                <div id="map" class=" map col-md-4"></div>


                        <!--------MAP END ------->    

                                    </div>

                        
                    </div>
           <!--CONTACT END-->  
  
        
                                  <footer class="footer">
                                    <p>aaron fogarty 2016</p>
                                      <div ng-app="DateApp" ng-controller="dateController" class="currentDate" id="TODAY">
                                            <span>{{CurrentDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                                      </div>
                                  </footer>
                
                
                

                 </div><!--end of parallax base-->
                </div><!--end of parallax group -->
               </div><!--end of parallax-->
             </div><!--end of fluid_container-->

        
        
        
        
        
<!---CONTACT MODAL FORM  ---->  
         <div id="myModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Contact Me</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="commentform">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="first_name">First Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="last_name">Last Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="email">Email Address</label>
                            <div class="col-md-6 input-group">
                            <span class="input-group-addon">@</span>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="comment">Question or Comment</label>
                            <div class="col-md-6">
                                <textarea rows="6" class="form-control" id="comments" name="comments" placeholder="Your question or comment here"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <button type="submit" value="Submit" class="btn btn-custom pull-right" id="send_btn">Send</button>
                            </div>
                        </div>
                    </form>
                </div><!-- End of Modal body -->
                </div><!-- End of Modal content -->
                </div><!-- End of Modal dialog -->
    </div><!-- End of Modal -->
 <!---CONTACT MODAL FORM END ----> 
        

 <!-------- MAP SCRIPT ------------------------------>       
        
       <script>
                  function initMap() {
                    var uluru = {lat: 53.323932, lng: -6.39063};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 16,
                      center: uluru
                    });
                    var marker = new google.maps.Marker({
                      position: uluru,
                      map: map
                });
              }

        </script> 
    

        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAhhhxC8tQeyPGKj-5pfPtyBreLYUYtI3E&callback=initMap"></script>
<!-------- MAP SCRIPT END ------------------------------>       
    

        
        
        <!---SCRIPTS-->
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>
        <!--<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="js/bootstrap.js"></script>
        <link rel="stylesheet" href="css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>

   

        <script src="js/dynamicdatetime.js"></script>
        <script src="js/dynamicresults.js"></script>
        <script src="js/accordion.js"></script>
        <script src="js/resultAccordion.js"></script>
        <script src="js/imagemodal.js"></script>     

      
    </body>
</html>